@CHARSET "UTF-8";

.title{
	background-color: #eeeeee;
	border: 2px solid #aaaaaa;
	padding:8px;
	box-sizing:border-box;
	border-left-width:0px;
	border-right-width:0px;
}

.title > span {
	display:inline-block;
	text-align:center;
}
.list>span {
	display:inline-block;
}

.list{
	padding:7px;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-botton-color:#eeeeee;
}

.item11{ width:400px; text-align:center}
.item1{ width:30px;}
.item2{ width:80px;}
.item3{ width:290px;}
.item4{ width:150px;}
.item5{ width:120px;}
.item6{ width:100px;text-align:center}
.item7{ width:100px;text-align:center}


.item1 > input {
	vertical-align:text-bottom;
}
.item3 >img{
	vertical-align:text-bottom;
}
.item4 >img{
	vertical-align:text-bottom;
}

.list:hover{ background-color: #eeffff;}







