<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation = "http://java.sun.com/xml/ns/javaee
                    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
            version="3.0">
            
   <!-- login(layout/tri_login -->
   <servlet>
      <servlet-name>login2</servlet-name>
      <servlet-class>servlet.LoginServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>login2</servlet-name>
      <url-pattern>/LoginServlet</url-pattern>
   </servlet-mapping>   

   <!--  board -->
   <servlet>
      <servlet-name>board</servlet-name>
      <servlet-class>servlet.BoardServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>board</servlet-name>
      <url-pattern>*.do</url-pattern>
   </servlet-mapping>            

</web-app>





